@charset "UTF-8";
.profile-links-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 10px;
        }
        .profile-link {
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            gap: 8px;
            background-color: var(--bg2);
            border: 1px solid var(--heading);
            transition: all 0.2s ease-in-out;
            border-radius: 8px;
            padding: 8px;
        }
        .profile-link img {
            width: 32px;
            height: 32px;
        }
        .profile-link:hover {
            background-color: var(--bg);
        }