@charset "UTF-8";

:root {
    transition: all 0.2s ease-in-out;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #000;
    color: #888;
    font-family: monospace, sans-serif;
    font-size: 2.5em;
    user-select: none;
}

#clock {
    font-family: monospace;
    font-size: 20vw;
    text-align: center;
    line-height: 1;
}

button {
    font-size: 1em;
    transition: all 0.2s ease-in-out;
    background: #000;
    color: #888;
    border: 1px solid #888;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

button:hover {
    background: #222;
}